// Quasar variables
$primary   : #0f766e
$secondary : #0284c7
$accent    : #8b5cf6

$dark      : #0f172a
$dark-page : #020617

$positive  : #10b981
$negative  : #ef4444
$info      : #06b6d4
$warning   : #f59e0b
